@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/agencyfb");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Agency FB', Arial, sans-serif;
}

@font-face {
  font-family: 'Geist Sans';
  src: url('/fonts/GeistVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Agency FB Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Agency FB Bold'), url('/fonts/AGENCYB.woff') format('woff');
}

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  font-family: 'Geist Mono';
}

.font-teko {
  font-family: 'Agency FB Bold';
}